        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            background-color: #00ADB5;
            color: dodgerblue;
        }
        p{
            color: #393E46;
            font-size: 30px;
            margin: 30px 0;
        }
        div{
            width: 70%;
            margin: auto;
            padding: 25px;
            background-color:#EEEEEE;
        }
        h1{
            color: #222831;
            font-size: 50px;
        }
        a{ 
            text-decoration: none;
            font-size: 20px;
            color: #000000;
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            margin-right: 5px;
            border-bottom:1px solid transparent ;

        }
        a:hover{
            border-bottom-color:#00ADB5 ;
        }
        img{
            width: auto;
            height: auto;
            display:block;
        }